/* home.css */
.w-25 {
    width: 25% !important;
}

.h-25 {
    height: 25% !important;
}

@media (max-width: 768px) {
    .navbar-toggler {
        border-color: transparent;
    }
}

@media (max-width: 576px) {
    .navbar-toggler-icon {
        background-image: none;
    }

    .navbar-toggler-icon::before {
        content: "\2630";  /* Unicode character for hamburger icon */
        font-size: 1.5rem;
    }
}
